
<h1 align ='center'> User And Book  UI</h1>
<nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">signup</a>
  </nav>
<!-- <nav class ="navbar navbar-inverse">
    <div class="container-fluid" style="background-color:coral;">
       
        <div  class="container-fluid">
            <ul class ="nav navbar-nav ">
                <li ><a  routerLink="/login" class="nav-link">Login</a></li>
                <li><a routerLink="/signup" class="nav-link">signup</a></li>
                
            </ul>
        </div>
    </div>
</nav> -->
