
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
        <a class="navbar-brand" href="#">USER-BOOk_MANAGMENT</a>
         <div class="navbar-collapse collapse"> 
            <div class="collapse navbar-collapse" >
                
             <ul class="navbar-nav mr-auto"> 
                 <li class="nav-item"> <a routerLink="/signup" class="nav-link" href="/signup">Signup</a> </li>
                  <li class="nav-item"> <a routerLink="/login" class="nav-link" href="/login">Login</a> </li>
                <li class="nav-item"> <a routerLink="/book"  class="nav-link" href="/book">Book-Betails</a> </li> 
                </ul> 
            </div> 
     
        <ul class="navbar-nav ml-auto"> <li class="nav-item"> 
        <a  class="nav-link" href="/login">Logout</a></li> 
    </ul>  

</div>
</nav>

    

